<div class="form-container">
  <div class="form-card">
    <h2 class="text-center">Edit Weight</h2>
    <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Weight:</label>
        <input type="number" formControlName="weight"
               placeholder="0.0" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f['weight'].errors }">
        <div *ngIf="submitted && f['weight'].errors">
          <div *ngIf="f['weight'].errors?.['required']">
            Weight is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Date:</label>
        <input type="date" formControlName="date"
               class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f['date'].errors }">
        <div *ngIf="submitted && f['date'].errors">
          <div *ngIf="f['date'].errors?.['required']">
            Date is required.
          </div>
        </div>
      </div>
      
      <button type="submit" class="btn btn-info w-100 mt-3">Save</button>
    </form>
  </div>
</div>